@charset "utf-8";


$white: #fff;
$black: #000;

$color_blue: #00b7ee;
$color_yellow: #ffe100;

$color_major: #173c8f; // text btn blue

$color_minor: #10345a; // footer blue

$color_assist: #f1af5f; // gold

$color_danger: #ee2323; 

$color_normal: #f3f3f3; // gray
$color_normal_aid: #434343; // gray_deep

$color_hover: #999;


$color_term: #10345a; // 20190222 change to footer blue;    // #f20f0f; CNY red

$bg_color_hover: #999;



//$media_xxxs: 480px; 
//$media_xxs: 600px;
$media_sm: 768px;
$media_md: 992px;
$media_lg: 1200px;