
main{
	position: relative;
}

.background{
	position: relative;
	width: 100%;

	.bg-1{
		position: fixed;
		left: 0;
		top: 60px;
		width: 49%;

		@media (min-width: $media_sm) {
			top: 0;
			width: 39%;
			max-width: 766px;
		}
	}
	
	.bg-2{
		position: fixed;
		right: 0;
		top: 80px;
		width: 10%;

		@media (min-width: $media_sm) {
			top: 0;
			width: 29%;
			max-width: 559px;
		}
	}
}

.foreground{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	.fg-1{
		position: absolute;
		left: 4%;
		top: 14%;
		width: 13%;
		max-width: 254px;
	}
	
	.fg-2{
		position: absolute;
		right: 0;
		top: 11%;
		width: 20%;
		max-width: 385px;
	}
}

.btn-cfa{
	position: fixed;
	right: 4%;
	top: 70%;
  width: 16%;
	z-index: 400;

	@media (min-width: $media_sm) {
		top: 50%;
		width: 7%;
	}

	.txt{
		position: absolute;
		left: 50%;
		top: 90%;
		width: 180%;
		@include translateX(-50%);
	}
}

.kv{
	position: relative;
	background-color: white;

	.kv-title{
		position: relative;
		width: 80%;
		margin: 0 auto;
		margin-top: 100px;
		margin-bottom: 30px;
		z-index: 50;

		@media (min-width: $media_sm) {
			width: 50%;
			margin-top: 180px;
		}

		@media (min-width: $media_md) {
			width: 35%;
			margin-top: 180px;
		}

		.date{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
	
			position: absolute;
			left: 30%;
			top: 0%;
			width: 60%;
	
			p{
				margin: 0;
			}
	
			.line{
				flex-grow: 1;
				padding: 0 6px;
	
				@media (min-width: $media_sm) {
					padding: 0 20px;
				}
	
				hr{
					margin: 2px 0;
					border-color: #0d61c4;
	
					@media (min-width: $media_sm) {
						margin: 12px 0;
					}
				}
			}
	
			.year{
				color: #0d61c4;
				font-size: 17px;
				font-weight: 900;
				line-height: 1;
				// margin: 0;
	
				@media (min-width: $media_lg) {
					font-size: 21px;
				}
			}
	
			.day{
				color: #0d61c4;
				font-size: 20px;
				font-weight: 900;
				line-height: 1;
	
				@media (min-width: $media_lg) {
					font-size: 36px;
				}
			}
		}

		.text-container{
			position: absolute;
			left: 22%;
			top: 31%;
			// width: 80%;
			transform-origin: left top;

			@media (min-width: $media_sm) {
				// width: 100%;
			}

			h2{
				color: #0d61c4;
				font-size: 28px;
				font-weight: 900;
				line-height: 1;
				margin: 0;
				margin-bottom: 5px;

				@media (min-width: $media_sm) {
					font-size: 42px;
				}
	
				span{
					display: inline-block;
					padding: 6px;
					margin-right: 6px;
					background: url('../images/index/title_bg_2.png') no-repeat center center;
					background-size: contain;

					@media (min-width: $media_sm) {
						padding: 8px;
						margin-right: 9px;
					}
				}
			}
	
			h3{
				color: #0d61c4;
				font-size: 18px;
				font-weight: 500;
				letter-spacing: 4px;
				margin: 0;
				margin-bottom: 15px;

				@media (min-width: $media_sm) {
					font-size: 28px;
					letter-spacing: 4px;
				}
			}
	
			.icon-x{
				width: 9%;
				margin-bottom: 15px;
			}

			.des-container{
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: flex-start;

				.des{
					margin-bottom: 10px;
					margin-right: 20px;
	
					p{
						color: #3e454f;
						
						font-size: 14px;
						font-weight: 500;
						line-height: 1.4;
						white-space: nowrap;
						margin: 0;

						@media (min-width: $media_sm) {
							font-size: 18px;
						}
					}

					.num{
						color: #0d61c4;
						position: relative;
						display: inline-block;
						padding: 0 10px;

						&::before{
							content: '';
							position: absolute;
							left: 50%;
							top: 50%;
							width: 100%;
							padding-top: 100%;
							background-color: #ffe401;
							border-radius: 50px;
							z-index: -1;
							transform: translate(-50%, -50%);
						}
					}
	
					.big{
						font-size: 24px;
						font-weight: 900;
						line-height: 1;

						@media (min-width: $media_sm) {
							font-size: 32px;
						}
					}
	
					.small{
						font-size: 14px;
						font-weight: 500;

						@media (min-width: $media_sm) {
							font-size: 18px;
						}
					}

					.xsmall{
						font-size: 12px;
						font-weight: 500;

						@media (min-width: $media_sm) {
							font-size: 14px;
						}
					}

					.ml{
						margin-left: 88px;

						@media (min-width: $media_sm) {
							font-size: 14px;
						}
					}
	
					.red{
						color: #e76162;
					}
				}
			}
		}
	}

	.richart-left{
		position: absolute;
		left: 2%;
    top: 80%;
		width: 23%;
		z-index: 100;

		img{
			position: relative;
			z-index: 2;
		}

		.tail{
			position: absolute;
			left: 7%;
			top: 51%;
			width: 50%;
			transform-origin: 85% 80%;
			@include animation(tail 1.6s infinite);
		}

		@keyframes tail {
			0% {
				@include transform(rotate(0));
			}
			50% {
				@include transform(rotate(-15deg));
			}
			100% {
				@include transform(rotate(0));
			}
		}
		
		@media (min-width: $media_sm) {
			left: 12%;
			top: 46%;
			width: 19%;
		}
	}

	.richart-right{
		position: absolute;
		left: 66%;
    top: 94%;
    width: 25%;
		z-index: 100;

		img{
			position: relative;
			z-index: 2;
		}

		.hand{
			position: absolute;
			left: 0%;
			top: 24%;
			width: 45%;
			transform-origin: 100% 80%;
			@include animation(hand 1.6s infinite);
		}

		@keyframes hand {
			0% {
				@include transform(rotate(0));
			}
			50% {
				@include transform(rotate(-15deg));
			}
			100% {
				@include transform(rotate(0));
			}
		}

		@media (min-width: $media_sm) {
			left: 65%;
			top: 40%;
			width: 24%;
		}
	}
}

.content{
	position: relative;

	.main-content{
		// position: relative;
		
		.content-con{
			position: relative;
			z-index: 50;
			width: 100%;
			margin: 0 auto;
			overflow: auto;
			
			@media (min-width: $media_sm) {
				width: 94%;
				max-width: 1367px;
			}

			.des-con{
				margin-bottom: 4%;

				.text-algin{
					text-align: center;

					@media (min-width: $media_sm) {
						text-align: left;
					}
				}
				
				.padding-con{
					padding-left: 0;

					@media (min-width: $media_sm) {
						padding-left: 10%;
					}
				}

				.des{
					margin-bottom: 4%;
				}

				.tips{
					transform-origin: left top;
					@include transform(scale(0.9));
				}
			}
		}
	}
}

.content-1{
	.wave-1{
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 0;
		pointer-events: none;
	}

	.wave-2{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 48%;
		max-width: 933px;
		pointer-events: none;
	}

	.content-head{
		margin-top: 0;
	}

	.main-content{
		background-color: #fff8c0;
		padding-bottom: 10%;

		@media (min-width: $media_sm) {
			padding-bottom: 0;
		}

		.pic-con-1{
			margin-top: 4%;
			margin-bottom: 4%;
		}

		.pic-con-2{
			margin-top: -30%;
		}
	}
}

.content-2{
	.richart-head{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #fff8c0;
		
		.richart{
			position: absolute;
			top: -16%;
			right: 1%;
			width: 46%;
		}
	}

	.content-head{
		margin-top: -8%;
		// background-color: #fff8c0;
		@media (min-width: $media_sm) {
			background-color: #fff8c0;
		}
	}

	.main-content{
		background-color: #ffe401;
		padding-bottom: 18%;

		@media (min-width: $media_sm) {
			padding-bottom: 0;
		}

		.pic-con{
			margin-top: 10%;
		}

		.richart-pc{
			position: relative;
	
			img{
				position: relative;
				z-index: 2;
			}
	
			.tail{
				position: absolute;
				left: 0%;
    		top: 45%;
    		width: 60%;
				transform-origin: 85% 80%;
				@include animation(tail 1.6s infinite);
			}
	
			@keyframes tail {
				0% {
					@include transform(rotate(0));
				}
				50% {
					@include transform(rotate(-15deg));
				}
				100% {
					@include transform(rotate(0));
				}
			}
		}
	}
}

.content-3{
	.wave-1{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		pointer-events: none;

		@media (min-width: $media_sm) {
			width: 37%;
			max-width: 722px;
		}
	}

	.wave-2{
		position: absolute;
		right: 0;
		top: 40%;
		width: 51%;
		max-width: 535px;
		pointer-events: none;
		@include animation(upMotion 1.6s infinite);

		@media (min-width: $media_sm) {
			top: 35%;
			width: 34%;
			max-width: 1052px;
		}
	}

	.wave-3{
		position: absolute;
		right: 0;
		top: 40%;
		width: 20%;
		max-width: 210px;
		pointer-events: none;

		@media (min-width: $media_sm) {
			top: 46%;
			width: 10%;
			max-width: 330px;
		}
	}

	.richart-head{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #ffe401;
		
		.richart{
			position: absolute;
			top: -8.5%;
			right: 1%;
			width: 40%;
		}
	}

	.content-head{
		position: relative;
		margin-top: 0;
		// background-color: #ffe401;

		@media (min-width: $media_sm) {
			// margin-top: -10%;
			background-color: #ffe401;
		}
	}

	.main-content{
		background-color: #fff8c0;

		.pic-con{
			margin-top: 10%;
		}

		.att{
			margin-top: -3%;
			margin-bottom: 4%;
		}
	}
}

.small-button{
	display: inline-block;
	color: #016cbf;
	padding: 6px 0px;
	margin-bottom: 8%;
	@include border-radius(20px);

	&:hover, &:active, &:focus{
		color: #016cbf;
		text-decoration: none;
	}
}

.bg-pink{
	// background-color: #fb5a55;
}

.bg-blue{
	// background-color: #016cbf;
}

@keyframes upMotion {
  0% {
		@include translateY(0);
	}
  50% {
		@include translateY(2%);
  }
  100% {
		@include translateY(0);
  }
}
